$white_color: #ffffff;
$black_color: #000000;

$grey_color01: #6d6050;
$grey_color02: #aeaeae;
$grey_color03: #e7e7e7;
$grey_color04: #f2f2f2;
$grey_color05: #e4e4e4;

$golden01: #99720e;
$golden02: rgb(46 35 6 / 57%);

$transparent: rgba(255, 255, 255, 0);
